
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="overview-block-ptb iq-pricing3">

    <div class="container">

        <br />

        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title text-center" style="margin-bottom: 0px;">

                    <h2 style="color:white;">Current Game</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center;">

                <div id="wrap2">

                    <div id="game">
                        <canvas id="slots" width="500" height="500"></canvas><br />

                    </div>
<<<<<<< HEAD
                    
=======

                    @*<button type="button" onclick="spin(1);">1 Line</button>
                    <button type="button" onclick="spin(3);">3 Lines</button>
                    <button type="button" onclick="spin(5);">5 Lines</button>*@

>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                    <div style="display:none;" id="info">
                        <p id="credits"></p>
                        <p id="log"></p>
                    </div>

                    <div style="display:none;" id="log">

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        &nbsp;
    </div>

    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-2">
<<<<<<< HEAD
            <div id="divAvailableMoney" class="alert alert-warning" role="alert">
=======
            <div class="alert alert-warning" role="alert">
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                Available money: $5.00
            </div>
        </div>

        <div class="col-md-2">
<<<<<<< HEAD
            <div id="divCurrentBet" class="alert alert-warning" role="alert">
                Current Bet:
                <input name="currentBet" id="txtCurrentBet" type="number" value=".25" data-decimals="2" min=".25" max="100" step="0.25" />
=======
            <div class="alert alert-warning" role="alert">
                Current Bet:
                <input name="currentBet" type="number" value=".25" data-decimals="2" min=".25" max="100" step="0.25" />
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
            </div>
        </div>

        <div class="col-md-2">
<<<<<<< HEAD
            <div id="divWinnings" class="alert alert-success" role="alert">
=======
            <div class="alert alert-success" role="alert">
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                <b>Winnings:</b> $2.00
            </div>
        </div>

        <div class="col-md-2">
<<<<<<< HEAD
            <div id="divCurrentOutcome" class="alert alert-warning" role="alert">
=======
            <div class="alert alert-warning" role="alert">
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                Current Spin Outcome: $0.50
            </div>
        </div>

        <div class="col-md-2">
<<<<<<< HEAD
            <div id="divNextOutcome" class="alert alert-warning" role="alert">
=======
            <div class="alert alert-warning" role="alert">
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                Next Spin's Outcome: $0.00
            </div>
        </div>

        <div class="col-md-1"></div>

    </div>


    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-2">

        </div>

        <div class="col-md-2">
            <div class="alert alert-info" role="alert">
                <b>Multiplier:</b> 2X
            </div>
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-2">
<<<<<<< HEAD
            <a href="javascript: btnReject_Click();" id="btnReject" class="btn btn-danger btn-lg" style="width:100%;">Reject</a>
        </div>

        <div class="col-md-2">
            <a href="javascript: btnAccept_Click();" id="btnAccept" class="btn btn-success btn-lg" style="width:100%;">Preview</a>
=======
            <a href="#" class="btn btn-danger btn-lg" style="width:100%;">Reject</a>
        </div>

        <div class="col-md-2">
            <a href="javascript: spin(1);" class="btn btn-success btn-lg" style="width:100%;">Preview/Accept</a>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
        </div>

        <div class="col-md-1"></div>

    </div>


</section>

<script>

<<<<<<< HEAD
    var currentState = 0;
    var winnings = 0;

    function UpdateSpinLog(objSpin, status) {

        var strURL = "../DataAccess.ashx?method=UpdateSpinLog&accountid=" + @Session["UserName"] + "&status=" + status + "&spinid=" + objSpin.Id;
        
        var strResponse = GetXMLHTTPResponse(strURL);

        if (strResponse != "")
            alert(strResponse);

    }


    function UpdateAccountCredits(amount) {

        var strURL = "../DataAccess.ashx?method=UpdateAccount&accountid=" + @Session["UserName"] + "&amount=" + amount;
        
        var strResponse = GetXMLHTTPResponse(strURL);

        if (strResponse != "")
            alert(strResponse);

    }

    function btnAccept_Click() {

        // If in preview mode
        if (currentState == 0) {

            GetNextSpin();

            UpdateSpinLog(objNextSpin, "Previewed");

            $("#divNextOutcome").html("Next Spin's Outcome: <b>$" + objNextSpin.Amount.toFixed(2) + "</b>");

            currentState = 1;
            $("#btnAccept").html("Accept");

        }
        else {

            UpdateSpinLog(objNextSpin, "Accepted");

            UpdateAccountCredits($("#txtCurrentBet").val() * -1);

            FillAccountData();

            $("#divAvailableMoney").html("Available Money: " + $("#divCredits").html());

            spin(1);
            currentState = 0;
            $("#btnAccept").html("Preview");

            
        }
        
    }

    function btnReject_Click() {



    }



    function GetNextSpin() {

        var strURL = "../DataAccess.ashx?method=GetNextSpin";
                
        var strResponse = GetXMLHTTPResponse(strURL);
        
        objNextSpin = JSON.parse(strResponse);
        
    }


    function SpinDone() {


        $("#divCurrentOutcome").html("Current Spin's Outcome: <b>$" + objNextSpin.Amount.toFixed(2) + "</b>");

        if (objNextSpin.Amount > 0) {

            UpdateAccountCredits(objNextSpin.Amount);
            winnings += objNextSpin.Amount;
        }

        FillAccountData();

        $("#divAvailableMoney").html("Available Money: " + $("#divCredits").html());
        $("#divWinnings").html("Winnings: <b>$" + winnings.toFixed(2) + "</b>");
        $("#divNextOutcome").html("Next Spin's Outcome: <b>???</b>");



    }

=======
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
    function InitPage() {


        InitSlots();

        $(".regular").slick({

            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });


<<<<<<< HEAD
        $("#divAvailableMoney").html("Available Money: " + $("#divCredits").html());
        $("#divWinnings").html("Winnings: <b>$0.00</b>");
        $("#divCurrentOutcome").html("Current Spin's Outcome: <b>$0.00</b>");
        $("#divNextOutcome").html("Next Spin's Outcome: <b>???</b>");


        $("input[name='currentBet']").InputSpinner();

       // $("input[name='currentBet']").InputSpinner();
        
=======
        $("input[name='currentBet']").InputSpinner();

       // $("input[name='currentBet']").InputSpinner();


>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
    }


</script>