
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--=================================
Portfolio -->
<section class="overview-block-pt iq-masonry-block popup-gallery">
    <div class="container">

        <br />

        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title text-center">

                    <h2 style="color:white;">Please select a game from the following list.</h2>
                </div>
            </div>
        </div>

        <br />

        <br />

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <section class="regular slider">

                    <div class="iq-portfolio-04">
                        <a class="iq-portfolio-img" href="Game">
                            <img style="width:350px;" class="img-fluid" src="../images/slot.png" alt="#">
                        </a>
                        <div class="iq-overbg">
                            <div class="iq-portfolio-content">
                                <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                <hr>
                                <ul class="iq-portfolio-icon">
<<<<<<< HEAD
=======
                                    <li><a href="Game"><i class="fa fa-link"></i></a></li>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                    <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="iq-portfolio-04">
                        <a class="iq-portfolio-img" href="Game">
                            <img style="width:350px;" class="img-fluid" src="../images/slot.png" alt="#">
                        </a>
                        <div class="iq-overbg">
                            <div class="iq-portfolio-content">
                                <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                <hr>
                                <ul class="iq-portfolio-icon">
<<<<<<< HEAD
=======
                                    <li><a href="Game"><i class="fa fa-link"></i></a></li>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                    <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="iq-portfolio-04">
                        <a class="iq-portfolio-img" href="Game">
                            <img style="width:350px;" class="img-fluid" src="../images/slot.png" alt="#">
                        </a>
                        <div class="iq-overbg">
                            <div class="iq-portfolio-content">
                                <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                <hr>
                                <ul class="iq-portfolio-icon">
<<<<<<< HEAD
=======
                                    <li><a href="Game"><i class="fa fa-link"></i></a></li>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                    <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="iq-portfolio-04">
                        <a class="iq-portfolio-img" href="Game">
                            <img style="width:350px;" class="img-fluid" src="../images/slot.png" alt="#">
                        </a>
                        <div class="iq-overbg">
                            <div class="iq-portfolio-content">
                                <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                <hr>
                                <ul class="iq-portfolio-icon">
<<<<<<< HEAD
=======
                                    <li><a href="Game"><i class="fa fa-link"></i></a></li>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                    <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="iq-portfolio-04">
                        <a class="iq-portfolio-img" href="Game">
                            <img style="width:350px;" class="img-fluid" src="../images/slot.png" alt="#">
                        </a>
                        <div class="iq-overbg">
                            <div class="iq-portfolio-content">
                                <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                <hr>
                                <ul class="iq-portfolio-icon">
<<<<<<< HEAD
=======
                                    <li><a href="Game"><i class="fa fa-link"></i></a></li>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                    <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="iq-portfolio-04">
                        <a class="iq-portfolio-img" href="Game">
                            <img style="width:350px;" class="img-fluid" src="../images/slot.png" alt="#">
                        </a>
                        <div class="iq-overbg">
                            <div class="iq-portfolio-content">
                                <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                <hr>
                                <ul class="iq-portfolio-icon">
<<<<<<< HEAD
=======
                                    <li><a href="Game"><i class="fa fa-link"></i></a></li>
>>>>>>> 8128bedd2785970e84cff7843f1859f46888c65d
                                    <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="row" style="display:none;">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div style="display:none;" class="isotope-filters isotope-tooltip">
                    <button data-filter="" class="active">All <span>9</span></button>
                    <button data-filter=".game1">Game Type 1<span>2</span></button>
                    <button data-filter=".game2">Game Type 2<span>4</span></button>
                    <button data-filter=".game3">Game Type 3<span>3</span></button>
                </div>
                <div class="iq-masonry iq-columns-3">

                    <div class="iq-masonry-item game1">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="Game">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="Game"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game1">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game2">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game2">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game2">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game2">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game3">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game3">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iq-masonry-item game3">
                        <div class="iq-portfolio-04">
                            <a class="iq-portfolio-img" href="#">
                                <img class="img-fluid" src="../images/slot.png" alt="#">
                            </a>
                            <div class="iq-overbg">
                                <div class="iq-portfolio-content">
                                    <h5 class="title iq-font-white"><a href="Game"><i class="fa fa-paper-plane"></i> Launch Game</a></h5>
                                    <hr>
                                    <ul class="iq-portfolio-icon">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a class="image-link popup-img" href="../images/slot.png"><i class="fa fa-arrows-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function InitPage() {

        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });

    }


</script>